@charset "utf-8";
img, object, embed, video {
max-width: 100%;
}
.ie6 img {
width:100%;
}
* {
box-sizing: border-box;
}
.rwd {
clear: both;
margin-left: 0;
width: 100%;
float: left;
display: block;
}
.clear {
}
.clear:before, .clear:after {
content: "";
display:table;
}
.clear:after {
clear:both;
}
.grid {
margin-left: auto;
margin-right: auto;
width: 95%;
padding-left: 1.5166%;
padding-right: 1.5166%;
max-width:1455px;
clear: none;
float: none;
}
header {
	padding:10px;
	background-color:$oj;
	.me {
		padding:5px;
		background-color:$white;
		@include clearblock;
		width:33%;
		margin-left:33%;
		margin-top:10px;
		@include border-radius(4px);
		@include box-shadow(0px 2px 3px rgba(0,0,0,.3));
	}
	.hero {
		width:100%;
		margin-left:0%;
		@include clearblock;
		margin-top:5px;
		text-align:center;
		ul {
			li {
				display:inline-block;
				a {
					color:$white;
					padding:10px;
				}
				a:visited {
					color:$white;
				}
			}
		}
	}
}
.navigation {
	border-bottom:1px solid $white - 25;
	@include box-shadow(0px 1px 0px $white);
	position:relative;
	z-index:1;
	background-color:$white;
	nav {
		padding:10px 0;
		ul {
			width:100%;
			text-align:center;
		}
		li {
			display:inline-block;
			a {
				color:$black;
				padding:10px;
				text-align:center;
			}
			a:visited {
				color:$black;
			}
			.active {
				border-bottom:4px solid $oj;
			}
		}
	}
}
.work {
	width:95%;
	margin-top:50px;
}
@media only screen and (min-width: 481px) {
header {
	.me {
		padding:5px;
		background-color:$white;
		@include clearblock;
		width:33%;
		margin-left:33%;
		margin-top:10px;
		@include border-radius(4px);
		@include box-shadow(0px 2px 3px rgba(0,0,0,.3));
	}
}
}
@media only screen and (min-width: 600px) {
header {
	.me {
		width:30%;
		margin-top:100px;
		margin-bottom:-150px;
		margin-left:0%;
		position:relative;
		z-index:2;
	}
	.hero {
		width:65%;
		margin-left:1%;
		text-align:left;
		margin-top:140px;
	}
}
.navigation {
	nav {
		ul {
			text-align:right;
		}
	}
}
}
@media only screen and (min-width: 750px) {
header {
	.me {
		width:30%;
		margin-top:30px;
		margin-bottom:-150px;
	}
	.hero {
		margin-top:180px;
	}
}
}
@media only screen and (min-width: 900px) {
header {
	.me {
		margin-bottom:-80px;
	}
	.hero {
		margin-top:140px;
	}
}
}
@media only screen and (min-width: 1100px) {
header {
	.me {
		width:20%;
		margin-top:10px;
		margin-bottom:-80px;
		margin-left:0%;
	}
	.hero {
		width:70%;
		margin-left:1%;
		margin-top:160px;
	}
}
.work {
	width:50%;
	margin-left:25%;
	margin-top:50px;
}
}