<div class="rwd work">	
	<img src="http://lorempixel.com/300/300" />
	<img src="http://lorempixel.com/300/300" />
	<img src="http://lorempixel.com/300/300" />
	<img src="http://lorempixel.com/300/300" />
	<img src="http://lorempixel.com/300/300" />
	<img src="http://lorempixel.com/300/300" />
	<img src="http://lorempixel.com/300/300" />
	<img src="http://lorempixel.com/300/300" />
</div>