@charset "utf-8";
/* line 17, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 1, ../../../public/sass/_base.scss */
body {
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}

/* line 5, ../../../public/sass/_base.scss */
h1, h2, h3, h4, h5 {
  line-height: 1em;
  font-family: 'Oswald', sans-serif;
}

/* line 9, ../../../public/sass/_base.scss */
h1 {
  font-size: 1.625em;
  line-height: 1.84615em;
}

/* line 12, ../../../public/sass/_base.scss */
h2 {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 15, ../../../public/sass/_base.scss */
h3 {
  font-size: 1.125em;
  line-height: 1.33333em;
}

/* line 24, ../../../public/sass/_base.scss */
a {
  text-decoration: none;
}

/* line 30, ../../../public/sass/_base.scss */
p {
  font-size: 1em;
  line-height: 1.5em;
  line-height: 1.4em;
}

/* line 43, ../../../public/sass/_base.scss */
small {
  font-size: .6em;
}

/* line 2, ../../../public/sass/_media.scss */
img, object, embed, video {
  max-width: 100%;
}

/* line 5, ../../../public/sass/_media.scss */
.ie6 img {
  width: 100%;
}

/* line 8, ../../../public/sass/_media.scss */
* {
  box-sizing: border-box;
}

/* line 11, ../../../public/sass/_media.scss */
.rwd {
  clear: both;
  margin-left: 0;
  width: 100%;
  float: left;
  display: block;
}

/* line 20, ../../../public/sass/_media.scss */
.clear:before, .clear:after {
  content: "";
  display: table;
}

/* line 24, ../../../public/sass/_media.scss */
.clear:after {
  clear: both;
}

/* line 27, ../../../public/sass/_media.scss */
.grid {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding-left: 1.5166%;
  padding-right: 1.5166%;
  max-width: 1455px;
  clear: none;
  float: none;
}

/* line 37, ../../../public/sass/_media.scss */
header {
  padding: 10px;
  background-color: #c33200;
}
/* line 40, ../../../public/sass/_media.scss */
header .me {
  padding: 5px;
  background-color: white;
  display: block;
  clear: none;
  width: 33%;
  margin-left: 33%;
  margin-top: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
/* line 50, ../../../public/sass/_media.scss */
header .hero {
  width: 100%;
  margin-left: 0%;
  display: block;
  clear: none;
  margin-top: 5px;
  text-align: center;
}
/* line 57, ../../../public/sass/_media.scss */
header .hero ul li {
  display: inline-block;
}
/* line 59, ../../../public/sass/_media.scss */
header .hero ul li a {
  color: white;
  padding: 10px;
}
/* line 63, ../../../public/sass/_media.scss */
header .hero ul li a:visited {
  color: white;
}

/* line 70, ../../../public/sass/_media.scss */
.navigation {
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-shadow: 0px 1px 0px white;
  -moz-box-shadow: 0px 1px 0px white;
  box-shadow: 0px 1px 0px white;
  position: relative;
  z-index: 1;
  background-color: white;
}
/* line 76, ../../../public/sass/_media.scss */
.navigation nav {
  padding: 10px 0;
}
/* line 78, ../../../public/sass/_media.scss */
.navigation nav ul {
  width: 100%;
  text-align: center;
}
/* line 82, ../../../public/sass/_media.scss */
.navigation nav li {
  display: inline-block;
}
/* line 84, ../../../public/sass/_media.scss */
.navigation nav li a {
  color: #222222;
  padding: 10px;
  text-align: center;
}
/* line 89, ../../../public/sass/_media.scss */
.navigation nav li a:visited {
  color: #222222;
}
/* line 92, ../../../public/sass/_media.scss */
.navigation nav li .active {
  border-bottom: 4px solid #c33200;
}

/* line 98, ../../../public/sass/_media.scss */
.work {
  width: 95%;
  margin-top: 50px;
}

@media only screen and (min-width: 481px) {
  /* line 104, ../../../public/sass/_media.scss */
  header .me {
    padding: 5px;
    background-color: white;
    display: block;
    clear: none;
    width: 33%;
    margin-left: 33%;
    margin-top: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (min-width: 600px) {
  /* line 118, ../../../public/sass/_media.scss */
  header .me {
    width: 30%;
    margin-top: 100px;
    margin-bottom: -150px;
    margin-left: 0%;
    position: relative;
    z-index: 2;
  }
  /* line 126, ../../../public/sass/_media.scss */
  header .hero {
    width: 65%;
    margin-left: 1%;
    text-align: left;
    margin-top: 140px;
  }

  /* line 135, ../../../public/sass/_media.scss */
  .navigation nav ul {
    text-align: right;
  }
}
@media only screen and (min-width: 750px) {
  /* line 143, ../../../public/sass/_media.scss */
  header .me {
    width: 30%;
    margin-top: 30px;
    margin-bottom: -150px;
  }
  /* line 148, ../../../public/sass/_media.scss */
  header .hero {
    margin-top: 180px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 155, ../../../public/sass/_media.scss */
  header .me {
    margin-bottom: -80px;
  }
  /* line 158, ../../../public/sass/_media.scss */
  header .hero {
    margin-top: 140px;
  }
}
@media only screen and (min-width: 1100px) {
  /* line 165, ../../../public/sass/_media.scss */
  header .me {
    width: 20%;
    margin-top: 10px;
    margin-bottom: -80px;
    margin-left: 0%;
  }
  /* line 171, ../../../public/sass/_media.scss */
  header .hero {
    width: 70%;
    margin-left: 1%;
    margin-top: 160px;
  }

  /* line 177, ../../../public/sass/_media.scss */
  .work {
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
  }
}
/* line 2, ../../../public/sass/_blog.scss */
.work article {
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-shadow: 0px 1px 0px white;
  -moz-box-shadow: 0px 1px 0px white;
  box-shadow: 0px 1px 0px white;
}
/* line 7, ../../../public/sass/_blog.scss */
.work article h2 {
  font-size: 1.5em;
  line-height: 2em;
  line-height: 1em;
}
/* line 11, ../../../public/sass/_blog.scss */
.work article p {
  display: block;
  margin: 20px 0;
  font-size: 1.125em;
  line-height: 1.33333em;
  line-height: 1.6em;
}
/* line 17, ../../../public/sass/_blog.scss */
.work article a {
  color: #c33200;
}
/* line 20, ../../../public/sass/_blog.scss */
.work article a:visited {
  color: #cd3c0a;
}
/* line 23, ../../../public/sass/_blog.scss */
.work article img {
  margin: 20px 0;
}

/* line 28, ../../../public/sass/_blog.scss */
.txtstuff {
  resize: none;
  /* remove this if you want the user to be able to resize it in modern browsers */
  overflow: hidden;
}

/* line 33, ../../../public/sass/_blog.scss */
.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* future version of deprecated 'word-wrap' */
}

/* the styles for 'commmon' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
/* line 42, ../../../public/sass/_blog.scss */
.common {
  width: 500px;
  min-height: 50px;
  font-size: 1.125em;
  line-height: 1.33333em;
  overflow: hidden;
}

/* line 51, ../../../public/sass/_blog.scss */
.new-post ul li input[type="text"], .new-post ul li textarea {
  border: 0;
  width: 100%;
  max-width: 100%;
  background-color: whitesmoke;
}
/* line 56, ../../../public/sass/_blog.scss */
.new-post ul li input[type="text"]:active, .new-post ul li input[type="text"]:focus, .new-post ul li textarea:active, .new-post ul li textarea:focus {
  outline: 0;
}
/* line 60, ../../../public/sass/_blog.scss */
.new-post ul li input[type="submit"] {
  background-color: #222222;
  color: white;
  padding: 10px 40px;
  -webkit-box-shadow: 0px 4px 0px #c3c3c3;
  -moz-box-shadow: 0px 4px 0px #c3c3c3;
  box-shadow: 0px 4px 0px #c3c3c3;
  border: 0;
  margin: 20px 0;
}
/* line 67, ../../../public/sass/_blog.scss */
.new-post ul li input[type="submit"]:visited {
  color: white;
}
/* line 71, ../../../public/sass/_blog.scss */
.new-post ul li label {
  display: block;
  background-color: #222222;
  color: white;
  padding: 3px;
  margin: 10px 0;
}
/* line 78, ../../../public/sass/_blog.scss */
.new-post ul li select {
  padding: 5px 5px;
  background-color: whitesmoke;
}
/* line 84, ../../../public/sass/_blog.scss */
.new-post ul li:first-child input[type="text"] {
  font-family: 'Oswald', sans-serif;
}
/* line 88, ../../../public/sass/_blog.scss */
.new-post ul li:nth-child(2) {
  padding-bottom: 10px;
  border-bottom: 1px solid #c33200;
}
/* line 91, ../../../public/sass/_blog.scss */
.new-post ul li:nth-child(2) textarea {
  font-size: 1.125em;
  line-height: 1.33333em;
  min-height: 150px;
}
/* line 96, ../../../public/sass/_blog.scss */
.new-post ul li:nth-child(3) {
  margin: 1.33333em auto 1.33333em;
}
/* line 98, ../../../public/sass/_blog.scss */
.new-post ul li:nth-child(3) textarea {
  min-height: 150px;
  font-size: 1.125em;
  line-height: 1.33333em;
  resize: none;
  overflow: hidden;
}
/* line 105, ../../../public/sass/_blog.scss */
.new-post ul li:nth-child(4) {
  margin: 1.33333em auto;
}
/* line 107, ../../../public/sass/_blog.scss */
.new-post ul li:nth-child(4) textarea {
  font-size: 1.125em;
  line-height: 1.33333em;
}

/* line 2, ../../../public/sass/_dashboard.scss */
.dashboard a {
  color: #c33200;
}
/* line 5, ../../../public/sass/_dashboard.scss */
.dashboard a:visited {
  color: #c33200;
}
/* line 9, ../../../public/sass/_dashboard.scss */
.dashboard ul li {
  margin: 20px 0;
}
/* line 11, ../../../public/sass/_dashboard.scss */
.dashboard ul li a {
  color: #c33200;
}
/* line 14, ../../../public/sass/_dashboard.scss */
.dashboard ul li a:visited {
  color: #c33200;
}
/* line 17, ../../../public/sass/_dashboard.scss */
.dashboard ul li i {
  margin: 0 10px;
}
